/** CSS STYLE **/
:root {
    --white: #fff;
    --cloudy-white: #d7ccc0;
    --light: #f5f4f0;
    --main-color: #fe8a02;
    --main-color-dark: #42413c;
    --dark: #2a2626;
    --cloudy-dark: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
 
}


body {
    color: var(--dark);
    font-family: 'Open Sans', cursive;
    font-size: 16px;
    line-height: 1.6em;
}

.bg-image {
    position: relative;
    
}

.bg-image:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-image: url(styles/cognitive-biases-images/images/background.png);
    opacity: 90%;
    background-repeat: no-repeat;
    background-size: cover;
}

.container1 {
    position: relative;
    width: 1110px;
    height: 100%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    z-index: 200;
}

.title {
    position: relative;
    z-index: 200;
}


h1 {
    font-family: 'Neucha', cursive;
    font-size: 72px;
    line-height: 1.2em;
    color: var(--main-color);
}

h2 {
    margin-bottom: 30px;
    font-size: 60px;
    line-height: 1.2em;
    font-family: 'Neucha', cursive;
          
}
h3 {
    font-family: 'Neucha', cursive;
    font-size: 34px;
    line-height: 1.2em;
      
}

.menu-item>h3 {
    color: var(--main-color);

}


.picture1 {
    position: absolute;
    height: 525px;
    top: 55px;
    right: -270px;
    z-index: 100;
}


.column {
    width: 50%;
    text-align: left;

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    
}

.button {

    position: absolute;
    top: 700px;
    left: 570px;
    display:inline-block;
    padding: 12px 24px;
    
    text-align: center;
    font-weight: bold;
    font-variant: small-caps;
    text-decoration: none;
    color: var(--white);
    background-color: var(--main-color);
    
}

.video {

    position: relative;
    display: flex;
    align-items: center;  
    margin: 0 auto;   
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
    z-index: 200;
    
}

#navigation {

    position: relative;
    background: var(--main-color-dark);
    margin-top: -200px;
      
}

.flex-menu {

    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;

} 
  
.flex-menu div {
    width: 30%;
    margin: 5px;

}

    .menu-item {
        box-sizing: border-box;
        padding: 24px;
        
        background: var(--white);
        color: var(--main-color);
        font-family: 'Neucha', cursive;
        text-align: left;

    }
    .bg-dark {
        background: var(--main-color-dark);
        margin-left: 0;
        padding: 0;
        font-size: 45px;
        line-height: 1.2em;

    }

    .number {
        padding-bottom: 40px;

        font-size: 64px;
        font-family: 'Neucha', cursive;
        line-height: 1;

    }

        
    a:hover, a:active {
       
        background-color: var(--main-color);
        color: var(--white);
    }

    a {
        display: block;
        box-sizing: border-box;
        text-decoration: none;
        color: var(--dark);
        
    }

    .menu-item > p {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 1.6em;
    }


    #ikea-effect {
        position: relative;
        background: var(--light);

    }


    .flex-section {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        position: relative;
        z-index: 200;
        margin-left: -15px;
        margin-right: -15px;

    }

    .flex-section div {
        padding: 15px;

    }

    .image {
        vertical-align: middle;
    
    }

    h6 {
        font-family: 'Open Sans' sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 17px;
        font-weight: bold;

    }

    .bg-brown {
        margin-top: 100px;
        margin-bottom: 20px;
        
        background: var(--brown);
        color: var(--white);
        
    }

    .h4 {
        font-family: 'Neucha', cursive;
        font-size: 24px;
        color: var(--cloudy);

    }

    #premature-optimization {
        position: relative;
        background: var(--brown);
        color: var(--white);

    }

    .bg-white {
        margin-top: 100px;
        margin-bottom: 20px;
        
        background: var(--white);
        color: var(--brown);
    }

    #distortion-of-novelty {
        position: relative;
        background: var(--light);
        color: var(--dark);
    }

    #hyperbolic-depreciation {
        position: relative;
        background: var(--brown);
        color: var(--white);

    }

    #errors-in-planning {
        position: relative;
        background: var(--light);
        color: var(--dark);

    }
    
    .section1 {
        background: var(--light);

    }

    




